* {
    padding: 0px;
    margin: 0px
}

body {
    text-align: center;
    font-family: Impact;
}
div {
    height: auto;
}

.container {
    margin: auto;
    width: 720px;
    min-height: 100px;
}

#header {
    position: relative;
    background-color: lightgrey;
    text-align: justify;
}

#body {
    background-color: #DDDDDD;
    height: 300px;
}

#prev-button {
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    border-top-left-radius: 25px;
    padding: 4px;
    background-color: #DDDDDD;
    float: right;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.step-title {
    padding-left: 10px;
    text-align: justify;
    font-size: 22px;
    letter-spacing: 5px;
}

.step-form {
    text-align: center;
}

.step-form {
    font-size: 72px;
    font-weight: 900;
}

.selection-div {
    background-color: darkgrey;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 30px;
}

.selection {
    display: block;
    width: 100%;
}

input[type=radio] {
    display: none;
}

.stack-selection {
    background-color: darkgrey;
    float: left;
    height: 170px;
    width: 170px;
    margin: 5px;
    margin-top: 50px;
}

p.stack-selection {
    font-size: 12px;
}

.step-title {
    font-size: large;
    letter-spacing: 3px;
}

#footer {
    background-color: lightgrey;
    line-height: 100px;
    vertical-align: middle;
}