* {
    padding: 0px;
    margin: 0px
}

body {
    text-align: center;
    font-family: Impact;
}
div {
    height: auto;
}

button {
    border: none;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 4px;
    background-color: #BBBBBB;
    height: 40px;
}
.container {
    margin: auto;
    width: 720px;
    min-height: 100px;
}

#header {
    position: relative;
    background-color: lightgrey;
    text-align: justify;
}

#body {
    background-color: #DDDDDD;
    height: 330px;
}

#prev-button {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: right;
    position: absolute;
    bottom: 10%;
    right: 0;
}

.step-title {
    padding-left: 10px;
    text-align: justify;
    font-size: 22px;
    letter-spacing: 5px;
}

.step-form {
    text-align: center;
}

.step-form {
    font-size: 72px;
    font-weight: 900;
}

.selection-div {
    background-color: darkgrey;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 30px;
}

.selection {
    display: block;
    width: 100%;
}

input[type=radio] {
    display: none;
}

.stack-selection {
    background-color: darkgrey;
    float: left;
    height: 164px;
    width: 164px;
    margin: 8px;
    margin-top: 50px;
}

.stack-title {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.stack-selection p {
    font-size: 16px;
    letter-spacing: 4px;
}

.stack-selection input[type=checkbox] {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.stack-selection input[type=checkbox]:checked + div {
    background-color: white;
}

.stack-selection div {
    height: 100%;
    width: 100%;
    padding: 2px;
}

.step-title {
    font-size: 24px;
    letter-spacing: 3px;
}

#next-button {
    border-radius: 25px;
    padding: 4px;
    margin-top: 15px;
}

#footer {
    background-color: lightgrey;
    line-height: 100px;
    vertical-align: middle;
}